API_KEY=your-api-key
EMAIL=your.email@example.com
JIRA_USERNAME=Your Name
BASE_URL=https://your-domain.atlassian.net/

WORK_HOURS_MONDAY=7
WORK_HOURS_TUESDAY=7
WORK_HOURS_WEDNESDAY=7
WORK_HOURS_THURSDAY=7.5
WORK_HOURS_FRIDAY=7
